.blog{
    padding: 120px 0;
    h4{
        color:#999999 ;
    }
    h3{
        color: $main-color;
    }
}
.blog-parent{
    position: relative;
}

.blog-item{
    .blog-img-wrapper{
        img{
            width: 100%;
            aspect-ratio:16/9;
        }
    }
    
    .blog-item-desc {
        background-color: $second-color;
        padding: 30px 25px;
        span{
            font-size: 11px;
            display: block;
            margin: 0;
            padding: 0;
            margin-bottom: 20px;
            color: #7c7c7c;
        }
        a{
            font-size: 16px;
            color: #343433;
            font-weight: 800;
            margin: 0;
            padding: 0;
            margin-bottom: 20px;
            display: block;
            transition: all linear .3s;
            &:hover{
                color: $main-color;
            }
        }
        p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 14px;
            font-weight: 600;
            line-height: 26px;
            color: #4f4f4e;
            margin: 0;
            padding: 0;
        }
    }
}

//  media

@include max-768{
    .blog-item .blog-item-desc a{
        font-size: 15px;
    }
    .blog-item .blog-item-desc p{
        font-size: 13px;
    }
}