.services{
    padding: 125px 0;
    background-image: url(../images/background\ tree.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $main-color;
    position: relative;
    .overlay{
        position: absolute;
        inset: 0;
        z-index: -1;
    }
}
.service-item-ancor{
    text-decoration: none;
    &:hover{
        text-decoration: none;
        display: block;
        }
        &:focus{
            text-decoration: none;
        }
        
}


.services-items{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap : 30px;
    .service-item{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color:  rgba($color: $black-color, $alpha: .1);
        padding: 45px;
        transition: all linear .3s;
        &:hover{
            background-color: $white-color;
            i{
                color: $main-color
            }
            h4{
                color: $main-color;
            }
        }
        h4{
            color: $white-color;
            font-size: 18px;
            text-align: center ;
            transition: all linear .3s;
        }
        i{
            display: block;
            transition: all linear .3s;
            margin-bottom: 30px;
            font-size: 90px;
            color: $white-color;
        }
    }
}


//  media 

@include max-1200 {
    .services-items .service-item{
        padding: 30px;
    }
}
@include max-992 {
.services-items{
    grid-template-columns: repeat(3 , 1fr);
}
}

@include max-768 { 
    .services-items{
        grid-template-columns: repeat(2 , 1fr);
        gap: 20px;
    }
    .services-items .service-item{
        padding: 45px;
    }
    .services-items .service-item i{
        font-size: 80px;
    }
    .services-items .service-item h4{
        font-size: 16px;
    }
}

@include max-500 { 
    .services-items{
        grid-template-columns: 1fr;
    }
}